includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Trait App\\Support\\Traits\\Enums\\HasHelpers#'
        - '#Trait App\\Support\\Traits\\Models\\HasUlid#'
        - '#Trait App\\Support\\Traits\\Models\\HasUuid#'
        - '#Trait App\\Support\\Traits\\Objects\\HasDynamicAttributes#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
